@import '../../../variable.scss';

.left-panel-wrap {
    >.mat-icon {
        padding: 19px;
        font-size: 40px;
        height: 38px;
        width: 38px;
        color:$secondary-color ;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            text-align: center;

            a {
                padding: 20px;
                display: inline-block;
            }

        }
    }

    .add-user-icon{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        text-align: center;
    }
}