<div class="left-panel-wrap">
    <mat-icon>supervised_user_circle</mat-icon>
<ul>
    <li>
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
    </li>
    <li>
        <a href="#">	<mat-icon>gamepad</mat-icon></a>
    </li>
    <li>
        <a href="#"><mat-icon>pages</mat-icon></a>
    </li>
    <li>
        <a href="#"><mat-icon>event_note</mat-icon></a>
    </li>
    <li>
        <a href="#"><mat-icon>filter_tilt_shift</mat-icon></a>
    </li>
</ul>
<div class="add-user-icon">
    <mat-icon>person_add</mat-icon>
</div>

</div>
