$primary-color: #131a17;
$secondary-color: #32ad1f;
$base-panel-color: #343833;
$icon-color: #5f6567;
$font-family : Roboto, "Helvetica Neue", sans-serif;
$font-size: 16px;
$m-50 : 50px;
$color-white: #fff;
$tab-icon:#25cede;